* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #3d8ab1;
    color: azure;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figureTwo a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: min-content;
    width: 95%;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #3e525c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: azure;
    font-weight: 700;
    transition: .3s;
}

.logo:hover {
    color: black;
}

.navbar a {
    font-size: 20px;
    color: azure;
    font-weight: 550;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #3d8ab1;
    background-color: #3d8ab1;
}

.columnTwo {
    flex: 1;
    margin-top: 20px;
    padding-bottom: 40px;
    background-color: #3e525c;
}

.columnThree {
    flex: 1;
    padding-bottom: 30px;
    background-color: #3e525c;
}

.About-Me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15%;
}

.About-Me-main {
    max-width: max-content;
    max-height: fit-content;
}

.About-Me-main h1 {
    font-size: 40px;
    font-weight: 700;
}

.About-Me-main h3 {
    font-size: 30px;
    font-weight: 700;
    color: #3e525c;
}

.About-Me-main p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.Work-main h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.Work-under {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.Contact-Me-main h1 {
    text-align: center;
}

.Contact-Me-main h4 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}